<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smart Clinic</title>
    <link rel="stylesheet" href="../static/assets/bootstrap.min.css" th:href="@{/assets/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/assets/styles.min.css" th:href="@{/assets/styles.min.css}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Smart Clinic</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/home}">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page landing-page">
    <section class="clean-block clean-hero"
             style="background-image:url('/assets/images/bb.jpg');color:rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2>Welcome to E-Clinic</h2>
            <p>Your Health Care Center</p>
        </div>
    </section>
    <section class="clean-block features mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="material-icons icon">verified_user</i>
                    <h4>Qualitfied Doctors</h4>
                    <p><br>a&nbsp;professional&nbsp;who practises&nbsp;medicine, which is concerned with promoting,
                        maintaining, or restoring&nbsp;health&nbsp;through the&nbsp;study,&nbsp;diagnosis,&nbsp;prognosis&nbsp;and&nbsp;<br>treatment&nbsp;of&nbsp;disease,&nbsp;injury,
                        and other physical and mental impairments.&nbsp;<br><br></p>
                </div>
                <div class="col-md-5 feature-box"><i class="fas fa-stethoscope icon"></i>
                    <h4>Outdoor Checkup</h4>
                    <p><br>A&nbsp;medical test&nbsp;is a medical procedure performed to detect, diagnose, or monitor
                        diseases, disease processes, susceptibility, or to determine a course of treatment. The tests
                        are classified by speciality field allowing
                        to know in which ward of hospital or by which specialist doctor are usually these tests
                        performed. This list is not exhaustive but might be useful as a guide.<br><br></p>
                </div>
                <div class="col-md-5 feature-box"><i class="material-icons icon">local_hospital</i>
                    <h4>Emergency Care</h4>
                    <p>a medical treatment facility specializing in&nbsp;emergency medicine, the&nbsp;acute&nbsp;care of
                        patients who present without prior appointment; either by their own means or by that of an&nbsp;ambulance.<br><br>
                    </p>
                </div>
                <div class="col-md-5 feature-box"><i class="fa fa-history icon"></i>
                    <h4>24 Hours Service</h4>
                    <p>a patient who is hospitalized for less than 24 hours. Even if the patient will not be formally
                        admitted with a note as an outpatient, they are still registered,&nbsp;<br><br></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!--Konten LIFF v2-->

        <div id="liffAppContent">
            <!-- ACTION BUTTONS -->
            <div class="buttonGroup">
                <div class="buttonRow">
                    <button id="openWindowButton" class="btn btn-success btn-small">Open External Window</button>
                    <button id="closeWindowButton" class="btn btn-danger btn-small">Close LIFF App</button>
                    <button id="sendMessageButton" class="btn btn-warning btn-small">Send Message</button>
                </div>

            </div>

            <!-- LIFF DATA -->
            <div id="liffData">
                <h3 id="liffDataHeader" class="textLeft">Informasi:</h3>
                <table>
                    <tr>
                        <th>isInClient :</th>
                        <td id="isInClient" class="textLeft"></td>
                    </tr>
                    <tr>
                        <th>isLoggedIn :</th>
                        <td id="isLoggedIn" class="textLeft"></td>
                    </tr>
                </table>
            </div>
            <!-- LOGIN LOGOUT BUTTONS -->
            <div class="buttonGroup">
                <button id="liffLoginButton" class="btn btn-success btn-small">Log in</button>
                <button id="liffLogoutButton" class="btn btn-warning btn-small">Log out</button>
            </div>
            <div id="statusMessage">
                <div id="isInClientMessage"></div>
                <div id="apiReferenceMessage">
                    <p>Available LIFF methods vary depending on the browser you use to open the LIFF app.</p>
                    <p>Please refer to the <a
                            href="https://developers.line.biz/en/reference/liff/#initialize-liff-app">API reference
                        page</a> for more information.</p>
                </div>
            </div>
        </div>
        <!-- LIFF ID ERROR -->
        <div id="liffIdErrorMessage" class="hidden">
            <p>You have not assigned any value for LIFF ID.</p>
            <p>If you are running the app using Node.js, please set the LIFF ID as an environment variable in your
                Heroku account follwing the below steps: </p>
            <code id="code-block">
                <ol>
                    <li>Go to `Dashboard` in your Heroku account.</li>
                    <li>Click on the app you just created.</li>
                    <li>Click on `Settings` and toggle `Reveal Config Vars`.</li>
                    <li>Set `MY_LIFF_ID` as the key and the LIFF ID as the value.</li>
                    <li>Your app should be up and running. Enter the URL of your app in a web browser.</li>
                </ol>
            </code>
            <p>If you are using any other platform, please add your LIFF ID in the <code>index.html</code> file.</p>
            <p>For more information about how to add your LIFF ID, see <a
                    href="https://developers.line.biz/en/reference/liff/#initialize-liff-app">Initializing the LIFF
                app</a>.</p>
        </div>
        <!-- LIFF INIT ERROR -->
        <div id="liffInitErrorMessage" class="hidden">
            <p>Something went wrong with LIFF initialization.</p>
            <p>LIFF initialization can fail if a user clicks "Cancel" on the "Grant permission" screen, or if an error
                occurs in the process of <code>liff.init()</code>.
        </div>
        <!-- NODE.JS LIFF ID ERROR -->
        <div id="nodeLiffIdErrorMessage" class="hidden">
            <p>Unable to receive the LIFF ID as an environment variable.</p>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="footer-copyright">
        <p><i>© 2019 Mitrais Internship</i></p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/assets/js/script.min.js?h=91b2b9fd6a86fd92a6ad1efe2b2bd17f"></script>
<!--line liff-->
<script th:src="@{/js/liff-starter.js}"></script>
<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
</body>

</html>